# Blender
*.blend1
*.blend@

# Archives redondantes avec les exports
*.zip

# Systeme
Thumbs.db
Desktop.ini
.DS_Store

# Places construites localement par Rojo
*.rbxl
*.rbxlx
*.rbxl.lock
*.rbxlx.lock
sourcemap.json
